
.inputfield {
    box-sizing: border-box;
    border: 2.5px solid #e2e8f0;
    border-radius: 10px;
    font-size: 20px;
}

.submitbutton {
    font-size: 15px;
    width: 150px;
    border-radius:10px;
    cursor:pointer;
}

.responseholder {
    color:white;
}

.responseholder h3 {
    margin:0;
}
.responseholder div {
    word-wrap: break-word;
}